:root{
    --color-grey:#f2f2f2;
    --color-green:#00a859;
    --color-orange:#f58634;

}



* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%
}

body{
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #f2f2f2;
}
