// .banner-section{
//     position: relative;
//     border: 3px solid rgb(24, 23, 23);
    

    .slider-banner{
        position: relative;
        // margin-top: 10vh;
        // border: 3px solid rgb(24, 23, 23);
        
        
        &__banner1{
            width: 100%;
            height: auto;
            }

        &__banner2{
            display: none;
            width: 100%;
            height: auto;
                  
        }

        &__banner3{
            display: none;
            width: 100%;
            height: auto;
                
        }


        .text-area{
            // border: .3rem yellow solid;
            position: absolute;
            top: 3rem;
            left:12%;
            width: 50vw;
            height:40vw;

            


            &__h1-text{
                font-size: 1.5rem;

            }

            &__p-text{
                margin-top: 1rem;
                font-size: 1.2rem;
                
            }

            &__button{
                border-radius: .5rem;
                border: none;
                width:60%;
                margin-top: 1rem;
                padding: 1rem 0;
                // height: 50%;
                background-color: var(--color-green);
                color: white;
                box-shadow: .2rem .2rem .1rem  #ccc;
                transition: transform .3s;

            }

            &__button:hover{
                box-shadow: .3rem .3rem .3rem .3rem #ccc;
                transform:scale(1.1);
                

            }
        }
        

        #arrow-left{
            position: absolute;
            top: 30%;
            left: 0;
            background: grey;
            opacity: .5;

            img{
            width: 3rem;
            height: 6rem;
            }
        
        }

        #arrow-left:hover{
            opacity: .9;
        }
        

        #arrow-right{
            position: absolute;
            top: 30% ;
            right: 0;
            background: grey;
            opacity: .7;

            img{
                width: 3rem;
                height: 6rem;
              }
            
            
           
        }

        #arrow-right:hover{
            opacity: .9;
        }
        
        
    
}




.products-section{

    .text{
        text-align: center;
        font-size: 2rem;
        margin-top: 1rem;

    }

    .categories{
        border: 1px solid chocolate;
        display: flex;
        list-style: none;
        margin-top: 1rem;

        

        li{
            background: grey;
            text-align: center;
            color:white;
            font-size: 1.2rem;
            width: 25%;

        }
        li:hover{
            background: transparent;
            color: black;
        }
    }


    .product-items{


        .all-products{

            .h1-text{
                margin: 2rem 1rem;

            }

            .all-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                

                .all{
                    background-color: #ffff;
                    // height: 10vh;
                    flex: 0 0 45%;
                    border: 1px solid rgb(214, 98, 108);
                    border-radius: .5rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    
                    
                    .item-box{
                        border: 1px dotted blue;

                        img{
                            width: 100%;
                            height: 100%;

                        }
                        

                    }

                    .product-name{
                        color:var(--color-green);
                        margin-top: .5rem;
                    }

                    .product-price{
                        margin-top: .5rem;

                    }

                    .button{
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        background: var(--color-orange);
                        border: none;
                        border-radius: .3rem;
                        padding: .5rem 0;
                        width: 98%;
                        color: white;
                        font-weight: 600;
                        margin: .5rem 0;
                        box-shadow: 0 .6rem .6rem -.6rem  #ccc;

                        // .material-icons{
                        //     font-size: 1.5rem;
                        // }

                    }

                    .button:hover{
                        font-size: 1.5rem ;
                        opacity: .7;
                    }

                }


            }

            .button-see-more{
                background: var(--color-green);
                border: none;
                border-radius: .3rem;
                padding: .5rem 0;
                font-weight: 600;
                margin: .5rem 0;
                width: 30%;
                color: white;
                transition: transform .3s;

            }

            .button-see-more:hover{
                box-shadow:  .3rem .3rem .3rem #ccc;
                transform:scale(1.1);
                

            }

            

    
        }





        .laptops-products{

            .h1-text{
                margin: 2rem 1rem;

            }

            .laptop-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                

                .laptops{
                    background-color: rgb(209, 216, 147);
                    // height: 10vh;
                    flex: 0 0 45%;
                    border: 1px solid rgb(214, 98, 108);
                    border-radius: .5rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    
                    
                    .item-box{
                        border: 1px dotted blue;

                        img{
                            width: 100%;
                            height: 100%;

                        }
                        

                    }

                    .product-name{
                        color:var(--color-green);
                        margin-top: .5rem;
                    }

                    .product-price{
                        margin-top: .5rem;

                    }

                    .button{
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        background: var(--color-orange);
                        border: none;
                        border-radius: .3rem;
                        padding: .5rem 0;
                        width: 98%;
                        color: white;
                        font-weight: 600;
                        margin: .5rem 0;

                        .material-icons{
                            font-size: 1.5rem;
                        }
                    }

                }


            }

            .button-see-more{
                background: var(--color-green);
                border: none;
                border-radius: .3rem;
                padding: .5rem 0;
                font-weight: 600;
                margin: .5rem 0;
                width: 30%;
                color: white;
                transition: transform .3s;

            }
            .button-see-more:hover{
                box-shadow: .3rem .3rem .3rem .3rem #ccc;
                transform:scale(1.1);
                

            }


            

    
        }



        /////////////////////////////PHONES-PRODUCT-CODE

        .phones-products{

            .h1-text{
                margin: 2rem 1rem;

            }

            .phones-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                

                .phones{
                    background-color: rgb(209, 216, 147);
                    // height: 10vh;
                    flex: 0 0 45%;
                    border: 1px solid rgb(214, 98, 108);
                    border-radius: .5rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    
                    
                    .item-box{
                        border: 1px dotted blue;

                        img{
                            width: 100%;
                            height: 100%;

                        }
                        

                    }

                    .product-name{
                        color:var(--color-green);
                        margin-top: .5rem;
                    }

                    .product-price{
                        margin-top: .5rem;

                    }

                    .button{
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        background: var(--color-orange);
                        border: none;
                        border-radius: .3rem;
                        padding: .5rem 0;
                        width: 98%;
                        color: white;
                        font-weight: 600;
                        margin: .5rem 0;

                        .material-icons{
                            font-size: 1.5rem;
                        }
                    }

                }


            }

            .button-see-more{
                background: var(--color-green);
                border: none;
                border-radius: .3rem;
                padding: .5rem 0;
                font-weight: 600;
                margin: .5rem 0;
                width: 30%;
                color: white;
                transition: transform .3s;

            }

            .button-see-more:hover{
                box-shadow: .3rem .3rem .3rem .3rem #ccc;
                transform:scale(1.1);
                

            }


            

    
        }


        /////////////////////////ACCESSORIES-PRODUCT-CODE

        .accessories-products{

            .h1-text{
                margin: 2rem 1rem;

            }

            .accessories-container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
                

                .accessories{
                    background-color: rgb(209, 216, 147);
                    // height: 10vh;
                    flex: 0 0 45%;
                    border: 1px solid rgb(214, 98, 108);
                    border-radius: .5rem;
                    text-align: center;
                    margin-bottom: 1rem;
                    
                    
                    .item-box{
                        border: 1px dotted blue;

                        img{
                            width: 100%;
                            height: 100%;

                        }
                        

                    }

                    .product-name{
                        color:var(--color-green);
                        margin-top: .5rem;
                    }

                    .product-price{
                        margin-top: .5rem;

                    }

                    .button{
                        // display: flex;
                        // justify-content: center;
                        // align-items: center;
                        background: var(--color-orange);
                        border: none;
                        border-radius: .3rem;
                        padding: .5rem 0;
                        width: 98%;
                        color: white;
                        font-weight: 600;
                        margin: .5rem 0;

                        .material-icons{
                            font-size: 1.5rem;
                        }
                    }

                }


            }

            .button-see-more{
                background: var(--color-green);
                border: none;
                border-radius: .3rem;
                padding: .5rem 0;
                font-weight: 600;
                margin: .5rem 0;
                width: 30%;
                color: white;
                transition: transform .3s;

            }

            .button-see-more:hover{
                box-shadow: .3rem .3rem .3rem .3rem #ccc;
                transform:scale(1.1);
                

            }


            

    
        }



    }


}


///////////// mode of paymect section(mastercard...visacard..

.mode-of-payment{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        background: white;

    .image-flexed{
      display: flex;

        .image{
            
        
           img{
                width: 100%;
                height: 100%;
            }

        }

    }
}